# Importing libraries

In [3]:
import pandas as pd
import numpy as np

# Reading the CSV file

In [4]:
data= pd.read_csv('marvel.csv')

# Making A Copy Of the DataSet

In [5]:
dc=data.copy()

# Printing the Copy

In [30]:
dc

,name,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,Spider-Man (Peter Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,Captain America (Steven Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,Thor (Thor Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...
16371,Ru'ach (Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,Thane (Thanos' son) (Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,Tinkerer (Skrull) (Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,TK421 (Spiderling) (Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,Yologarch (Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

# First 10 Records

In [28]:
dc.head(10)

,name,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,Spider-Man (Peter Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,Captain America (Steven Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,Thor (Thor Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
5,Benjamin Grimm (Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,NaN,Living Characters,2255.0,Nov-61,1961.0
6,Reed Richards (Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2072.0,Nov-61,1961.0
7,Hulk (Robert Bruce Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2017.0,May-62,1962.0
8,Scott Summers (Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1955.0,Sep-63,1963.0
9,Jonathan Storm (Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1934.0,Nov-61,1961.0

# Last 5 records

In [12]:
dc.tail()

,name,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
16371,Ru'ach (Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,Thane (Thanos' son) (Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,Tinkerer (Skrull) (Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,TK421 (Spiderling) (Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,Yologarch (Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

# Counting the total amount of records in each column

In [13]:
data.count()

name                16376
ID                  12606
ALIGN               13564
EYE                  6609
HAIR                12112
SEX                 15522
GSM                    90
ALIVE               16373
APPEARANCES         15280
FIRST APPEARANCE    15561
Year                15561
dtype: int64

# Finding out the categories in ID Column

In [14]:
dc['ID'].unique()

array(['Secret Identity', 'Public Identity', 'No Dual Identity',
       'Known to Authorities Identity', nan], dtype=object)

# Replacing Nan => Unknown in ID Column

In [16]:
dc['ID'] = dc['ID'].replace(np.nan, "Unknown")

dc['ID']

0         Secret Identity
1         Public Identity
2         Public Identity
3         Public Identity
4        No Dual Identity
               ...
16371    No Dual Identity
16372    No Dual Identity
16373     Secret Identity
16374     Secret Identity
16375             Unknown
Name: ID, Length: 16376, dtype: object

In [17]:
dc['ID'].unique()

array(['Secret Identity', 'Public Identity', 'No Dual Identity',
       'Known to Authorities Identity', 'Unknown'], dtype=object)

In [19]:
dc["SEX"].unique()

array(['Male Characters', 'Female Characters', 'Genderfluid Characters',
       'Agender Characters', nan], dtype=object)

# Finding out only the Male Characters

In [21]:
res=dc.loc[dc['SEX'] == 'Male Characters']
res

,name,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,Spider-Man (Peter Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,Captain America (Steven Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,Thor (Thor Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...
16367,Marcus (Kate Bishop's neighbor) (Earth-616),Public Identity,Good Characters,Hazel Eyes,Bald,Male Characters,Homosexual Characters,Living Characters,NaN,NaN,NaN
16371,Ru'ach (Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,Thane (Thanos' son) (Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,Tinkerer (Skrull) (Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,TK421 (Spiderling) (Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN

# Total count of each category in SEX column

In [26]:
res=dc['SEX'].value_counts()
res

Male Characters           11638
Female Characters          3837
Agender Characters           45
Genderfluid Characters        2
Name: SEX, dtype: int64

# Characters appearance over the years

In [7]:
import pandas as pd
import numpy as np

data= pd.read_csv('marvel.csv')
dc=data.copy()
years=dc.Year.value_counts().sort_index()
years

1939.0     69
1940.0    221
1941.0    207
1942.0    244
1943.0    198
         ...
2009.0    302
2010.0    324
2011.0    349
2012.0    201
2013.0    167
Name: Year, Length: 75, dtype: int64

# The Most Used Eye Type

In [14]:
eye=dc.EYE.value_counts().sort_index()
eye

Amber Eyes           10
Black Eyeballs        3
Black Eyes          555
Blue Eyes          1962
Brown Eyes         1924
Compound Eyes         1
Gold Eyes            14
Green Eyes          613
Grey Eyes            95
Hazel Eyes           76
Magenta Eyes          2
Multiple Eyes         7
No Eyes               7
One Eye              21
Orange Eyes          25
Pink Eyes            21
Purple Eyes          31
Red Eyes            508
Silver Eyes          12
Variable Eyes        49
Violet Eyes          11
White Eyes          400
Yellow Eyeballs       6
Yellow Eyes         256
Name: EYE, dtype: int64

# The Most Used Hair Type

In [16]:
hair=dc.HAIR.value_counts().sort_index()
hair

Auburn Hair                78
Bald                      838
Black Hair               3755
Blond Hair               1582
Blue Hair                  56
Bronze Hair                 1
Brown Hair               2339
Dyed Hair                   1
Gold Hair                   8
Green Hair                117
Grey Hair                 531
Light Brown Hair            6
Magenta Hair                5
No Hair                  1176
Orange Hair                43
Orange-brown Hair           3
Pink Hair                  31
Purple Hair                47
Red Hair                  620
Reddish Blond Hair          6
Silver Hair                16
Strawberry Blond Hair      47
Variable Hair              32
White Hair                754
Yellow Hair                20
Name: HAIR, dtype: int64

# THE HIGHEST MIX BETWEEN EYE AND HAIR MARVEL USED

In [6]:
dc.groupby(['EYE','HAIR']).count().name.nlargest()

EYE         HAIR
Brown Eyes  Black Hair    824
            Brown Hair    655
Blue Eyes   Blond Hair    649
            Black Hair    391
            Brown Hair    294
Name: name, dtype: int64

# Proportion b/w living and deceased characters

In [20]:
liv=len(dc[dc['ALIVE']=="Living Characters"])/len(dc)
dec=len(dc[dc['ALIVE']=="Deceased Characters"])/len(dc)
nan=len(dc[dc['ALIVE']=="Nan"])/len(dc)

print("Proportion Of living Characters: ",liv*100)
print("Proportion Of Deceased Characters: ",dec*100)
print("Proportion Of Nan Characters: ",nan*100)

Proportion Of living Characters:  76.99071812408403
Proportion Of Deceased Characters:  22.99096238397655
Proportion Of Nan Characters:  0.0

In [19]:
dc['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters', nan], dtype=object)